@import "../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .group {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  .heading {
    display: flex;
    .error {
      margin-left: auto;
      color: var(--error-color);
      text-align: end;
    }
  }
  .row {
    display: flex;
    gap: 1rem;
    .group {
      flex: 1;
    }
  }
  .no_account {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    color: var(--text-acnt-color);
  }
}

@media screen and (max-width: $mobile-width) {
  .container {
    .row {
      flex-direction: column;
    }
  }
}
