@import "../../../styles/variables.scss";

.container {
  height: 100%;
  background-color: var(--bg-acnt);
  border-radius: 0 25px 25px 0;
  .nav {
    position: absolute;
    width: $sidenav-width;
    transition: transform 0.3s ease-in-out;
  }
  .width_measurer {
    transition: width 0.3s ease-in-out;
    width: $sidenav-width;
  }
  &.hidden {
    .nav {
      transform: translateX(-100%);
    }
    .width_measurer {
      width: 0;
    }
  }
}
