.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background-color: var(--bg-acnt);
  display: flex;
  header {
    height: 64px;
    font-size: 1.5rem;
  }
  main {
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    width: 600px;
    background-color: var(--bg-main);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    main {
      width: 100%;
      min-width: 280px;
      // margin-top: 0;
    }
  }
}
